@import "variables";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";


@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

.md-toolbar .container,
.md-toolbar .container-fluid {
    padding: 0 7px;
}

.container-fluid.container-stretch {
    align-self: stretch;
    margin: 0;
}
.container-fluid.container-flex {
    flex: 1;
}

@media (max-width: $screen-xs-max) {
    .container.container-stretch {
        align-self: stretch;
        margin: 0;
    }
    .container.container-flex {
        flex: 1;
    }
}

.flex-placeholder {
    flex: 1;
}

.md-button.md-raised:not([disabled]):focus,
.md-button.md-raised:not([disabled]):active {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                0 5px 8px rgba(0, 0, 0, 0.14),
                0 1px 14px rgba(0, 0, 0, 0.12);
}
